$primary-color: #02091C;
$secondary-color: #FFFF;
$terciary-color: #7F8087;


body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .title-image {
    height: auto;
    max-height: 50px;
  }

  .menu-icon {
    height: auto;
    max-height: 30px;
    cursor: pointer;
  }
}
//main odsek
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 2rem;

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;


    .text {
      max-width: 50%;
      color: $terciary-color;
      position: relative;
      top: -50px;
      left: -100px;
      margin-top: 260px;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        color: $secondary-color;
        font-size: 60px;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-size: 30px;
      }

      .links {
        display: flex;
        gap: 19rem;
        text-decoration: none;
        font-size: 20px;

        .link {
          color: $secondary-color;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;

          &:hover {
            color: $terciary-color;
          }
        }
      }
    }

    .image-container {
      max-width: 50%;
      text-align: center;

      .person-image {
        width: 100%;
        max-width: 800px;
        height: auto;
      }
    }
  }
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: $secondary-color;

  .contact-left {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
  }

  .contact-right {
    text-align: right;
    margin-right: 100px;
    font-size: 120px;

    .email-link {
      font-size: 65px;
      color: $secondary-color;
      text-decoration: none;

      &:hover {
        color: $terciary-color;
      }
    }

    p {
      font-size: 17px;
      color: $terciary-color;
      margin-top: 0.2rem;
    }
  }
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: $terciary-color;
  padding: 1rem;
  border-top: 1px solid $secondary-color;
  margin-top: 2rem;
}